<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница информирования</title>
</head>
<body>
    {% if flag == 1 %}
        <h1>Вы отменили участие в событии</h1>
        <a href="http://127.0.0.1:8000/MyApp/account/{{data_user.login}}/{{select_task_id}}/">Для возврата можете перейти по ссылке</a>
    {% else %}
        <h1>Ошибка</h1>
        <a href="http://127.0.0.1:8000/MyApp/account/{{data_user.login}}/{{select_task_id}}/">Для возврата можете перейти по ссылке</a>
    {% endif %}

</body>
</html>